<div class="container app">
  <h1>
    {{title}}
  </h1>
  <hr>

  <div class="row">
    <button type="button" class="btn btn-primary" (click)="updateMetadata('first')">Use metadata #1</button>
    <button type="button" class="btn btn-primary" (click)="updateMetadata('second')">Use metadata #2</button>
    <button type="button" class="btn btn-primary" (click)="updateMetadata('last')">Use metadata #3</button>
  </div>

  <items-control class="flex-container flex-column flex-1" [items]="items"></items-control>
</div>
